In [1]:
from fastai.fastai.text import *
import pickle

In [2]:
Path.cwd()

PosixPath('/home/ubuntu/Project')

In [3]:
art_path = Path("DataTranscript/transcripts.pkl")
print(art_path.absolute())
art_dict = pickle.load(open(art_path, "rb"))

/home/ubuntu/Project/DataTranscript/transcripts.pkl

In [4]:
art_dict = pd.DataFrame.from_dict(art_dict)

In [5]:
art_dict = art_dict.transpose()

In [6]:
art_dict.head(10)

                                                      text
1572864  \n    \n    \n    I would now like to introduc...
1900544  \n    \n    \n    Good morning. My name is Rac...
1594710  \n    \n    \n    Following today's presentati...
1073672  \n    \n    \n    At this time, I would like t...
1811264  \n    \n    \n    At this time, I would like t...
1463639  \n    \n    \n    Ms. Shiflett, please go ahea...
1966096  \n    \n    \n    At this time, I would turn t...
1966099  \n    \n    \n    At this time, I would like t...
1966100  \n    \n    \n    This call will be available ...
1966101  \n    \n    \n    I would now like to turn the...

In [7]:
n_doc = len(art_dict)
n_doc

84399

In [8]:
np.random.seed(42)
all_idx = np.random.permutation(n_doc)
art_dict = art_dict.iloc[all_idx]

In [9]:
art_dict.head(10)

                                                      text
1779611  \n    \n    \n    It is now my pleasure to tur...
1205713  \n    \n    \n    Good morning.  My name is Br...
1340059  \n    \n    \n    Ms. Willis, please go ahead\...
1177897  \n    \n    \n    I would now like to turn the...
1967369  \n    \n    \n    At this time, for opening re...
1320504  \n    \n    \n    \n    This conference, inclu...
1145426  \n    \n    \n    I would like to now turn the...
1086977  \n    \n    \n    Now I would like to turn the...
1594887  \n    \n    \n    And I would now like to turn...
1758532  \n    \n    \n    And I would now like to turn...

In [10]:
test_size = 4000
train_size = n_doc - test_size
train_size

80399

In [11]:
train_data = art_dict.iloc[:train_size]
test_data = art_dict.iloc[-test_size:]

In [12]:
test_data.tail(5)

                                                      text
1967556  \n    \n    \n    I would now like to turn the...
1659135  \n    \n    \n    It is now my pleasure to int...
1330765  \n    \n    \n    Welcome back.  I hope you en...
1574129  \n    \n    \n    Luminex Corp. (LMNX)\n    Q2...
1204417  \n    \n    \n    \n    \n    \n    \n    With...

In [13]:
art_dict.iloc[1]

text    \n    \n    \n    Good morning.  My name is Br...
Name: 1205713, dtype: object

In [17]:
train_art_id = pd.DataFrame(train_data.index.values)
train_art_id.to_csv("DataTranscript/lm/lm_train_art_id.csv", header=None, index=False)

In [18]:
test_art_id = pd.DataFrame(test_data.index.values)
test_art_id.to_csv("DataTranscript/lm/lm_test_art_id.csv", header=None, index=False)

In [28]:
out_text = []
with open("DataTranscript/lm/lm_train.txt", "w", encoding="utf-8") as f:
    for i, row in train_data.iterrows():
        out_text.append(" -text- " + row["text"].replace("\n", " crlf ") + "\n")
        if len(out_text) % 10000 == 0:
            print(str(len(out_text)) + " " + str(len(train_data)))
    
    out_text = pd.DataFrame(out_text)
    out_text.to_csv(f, header=None, index=False)

10000 80399
20000 80399
30000 80399
40000 80399
50000 80399
60000 80399
70000 80399
80000 80399

In [29]:
out_text = []
with open("DataTranscript/lm/lm_test.txt", "w", encoding="utf-8") as f:
    for i, row in test_data.iterrows():
        out_text.append(" -text- " + row["text"].replace("\n", " crlf ") + "\n")
        if len(out_text) % 10000 == 0:
            print(str(len(out_text)) + " " + str(len(test_data)))
    out_text = pd.DataFrame(out_text)
    out_text.to_csv(f, header=None, index=False)